body {
    font-family: Arial, sans-serif;
    background-color: #ecefff;
    margin: 0;
}

#main-container {
    margin: 60px auto;
    max-width: 1200px;
    min-height: calc(100vh - 60px);
}

.container {
    min-height: 250px;
    padding: 20px 40px 0;
}

.container img {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    height: auto;
}

.box {
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

#projects-button, #manage-link {
    display: flex;
    justify-content: space-evenly;
}

#projects-button a, #manage-link a {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    font-size: 1em;
    color: #fff;
    background-color: #cd3f3f;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#projects-button a:hover, #manage-link a:hover {
    background-color: #b53838;
}

h1 {
    background-color: #cd3f3f;
    color: aquamarine;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

h2 {
    color: #555;
    padding-bottom: 10px;
    text-align: center;
}

#project-overview {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#project-details {
    border-radius: 0;
}

#project-members {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#project-actions {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.page-link {
    color: #007BFF;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 10px 0;
}

.page-link:hover {
    text-decoration: underline;
}

#post-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.post-box {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: calc(33.333% - 20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.post-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.post-name {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.post-name h2 {
    margin: 0;
}

.post-name:hover {
    color: #0056b3;
    text-decoration: underline;
}

.completed-status {
    color: green;
    font-weight: bold;
}

@media (max-width: 768px) {
    .post-box {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .post-box {
        width: 100%;
    }
}